*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    scroll-behavior: smooth;
  }
  
  
  p{
    font-weight: 300;
    color: #111;
  }

/* La navbar */
header{
    position: fixed;
    top: 0%;
    left: 0%;
    padding: 15px 10px;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: 0.5s;
    background-color: #1d1e31;
  
  }
  
  .navbar{
    display: flex;
    position: relative;
  }
  .navbar li{
    list-style: none;
  }
  .navbar a{
    color: wheat;
    text-decoration: none;
    margin-left: 30px;
    font-weight: 700;
  }
  
  
  header .navbar li a:hover{
    color: #fb911f;
    border-bottom: 2px solid #fb911f;
  }

  .parent {
    display: grid;
    grid-template-columns: repeat(1fr, 1fr);
    grid-template-rows: repeat(1fr, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 10px;
    background-color: #1d1e31;
    }
    
    .sec1 { grid-area: 1 / 1 / 2 / 6; }
    .sec2 { grid-area: 2 / 1 / 5 / 6; }
    .sec3 { grid-area: 5 / 1 / 6 / 6; }
    .sec4 { grid-area: 7 / 1 / 7 / 7; }

  .sec1{
    padding: 150px;
  }

  .titre{
    display: grid;
    text-align: center;
    font-size: xx-large;
  }

  .sec1 p{
    color: white;
    text-align: center;
  }

  h1{
    color:white;
  }
  h1 span{
    color:#fb911f;
  }
  
  /*section 2*/
.sec2 button{
  position: relative;
  width: 15%;
  height: 115%;
  margin: 0 auto;
  background-color: #353448;
  border-radius: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  animation: ombre 5s infinite ease-in-out;
}

@keyframes ombre{
  0%{
      box-shadow: 0px 0px 45px 30px #fec675;
  }
  20%{
      box-shadow: 0px 0px 45px 0px #fec675;
  }
  40%{
      box-shadow: 0px 0px 45px 15px #fec675;
  }
  70%{
      box-shadow: 0px 0px 45px -10px #fec675;
  }
  100%{
      box-shadow: 0px 0px 45px 30px #fec675;
  }
}

.sec2 button:hover{
  background-color: #272542;
  cursor: pointer;
}


.sec2{
  padding: 120px;
  margin-bottom: 110px;
}

  /*section 3*/ 
.sec3 img {
  width: 80%;
  height: 80%;
  margin: 25px 0px;
}

.sec3{
  margin: 120px;
  padding: auto;
  text-align: center;
  justify-content: center;
}


.sec3 .parent {
  display: flex;
  align-items: center;
  max-width: 1500px;
  margin: 90px;
}

p{
  color: white;
}

.sec4 img{
  border-radius: 10%;
  width: auto;
  height: 150px;

  justify-content: center;
}

#desc-left{
  position:relative;
  margin: 20px 10px;
}

#desc-left p{
  position: relative;
  margin-right: 3px;
}

#desc-right{
  position: relative;
  margin: 20px 10px;
}

#desc-right p{
  position: relative;
  margin-right: 3px;
}

#desc-right img{
  right: 10px;
}

#twitter{
  color:#fec675;
}

#twitter:hover{
  color: aqua;
}

#insta{
  color: #fec675;
}

#insta:hover{
  color: violet;
}
 /*responsive*/
 
 @media (max-width: 990px) {

    header .navbar li{
      margin-left: 0px;
    }
    
    header .navbar li a {
      color: wheat;
      text-decoration: none;
      margin-left: 30px;
      font-weight: 700;
    }
    
    .navbar{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
    section{
      padding: 10px;
    }
    
    header .navbar.active{
      width: 100%;
      height: calc(100% -68px);
      position: fixed;
      top: 68px;
      left:0;
      display: flex;
      justify-content: center;
      flex-direction: column;
      background: #ffff;
      align-items: center;
    }
    .sec2 button{
      width: auto;
      font-size: auto;
    }
    }
    
    
    
    @media (max-width: 480px)
    {
      .titre-text{
          color: wheat;
          font-size: 2rem;
          font-weight: 300;
          text-transform: capitalize;
      }
      img {
        position: relative;
        width: auto;
        height: auto;
        object-fit: cover;
    }
    .sec2 button{
      width: auto;
      font-size: auto;
    }
    }