* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    scroll-behavior: smooth;
}


h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background-color: #1d1e31;
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    font-weight: 300;
    color: #111;
}
/*Navbar*/
header{  /* on definit la position, la taille et la couleur de tout ce qui se trouve dans le header*/
    position: fixed;
    top: 0%;
    left: 0%;
    padding: 15px 10px;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: 0.5s;
    background-color: #1d1e31;
  
  }
  
  .navbar{  /*on determine la position de la navbar*/
    display: flex;
    position: relative;
  }
  .navbar li{  /*on ne met pas de style pour les listes de la navbar*/
    list-style: none;
  }
  .navbar a{  /* on definiit le style et la position des liens de la navbar*/
    color: wheat;
    text-decoration: none;
    margin-left: 30px;
    font-weight: 700;
  }
  
  
  header .navbar li a:hover{
    color: #fb911f;
    border-bottom: 2px solid #fb911f;
  }
/* section 4 */

.sec4 .center {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.sec4 .title h1 {
    color: white;
    font-size: 3em;
    font-weight: 700;
    font-style: italic;
    font-style: oblique;
}

.sec4 .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    max-width: 1500px;
    
}

.sec4 .card1 {
    position: relative;
    height: 450px;
    width: 300px;
    background-color: gray
;
    border-radius: 15px;
    margin: 20px;
    overflow: hidden;
}

.sec4 .card1 .top {
    background: linear-gradient(to top, violet, aquamarine, darkblue);
    opacity: 0.7;
    position: relative;
    height: 100%;
}

.sec4 .card1 .top img {
    position: relative;
    width: 200px;
    top: 5px;
    left: 50px;
}
.sec4 .card1 .top .img2 img {
    position: relative;
    width: 280px;
    left: 10px;
    top: 110px;
    height: 130px;
    border-radius: 15px;
}

.sec4 .card1 .top p {
    font-family: 'Lobster Two';
    position: absolute;
    top: 220px;
    font-weight: 700;
    font-style: italic;
    font-size: 50px;
    left: 40px;
    color: black;
}




.sec4 .card3 {
    position: relative;
    height: 450px;
    width: 300px;
    background-color: gray;
    border-radius: 15px;
    margin: 20px;
    overflow: hidden;
}
.sec4 .card3 .top {
    background: linear-gradient(to top, violet, aquamarine, darkblue);
    opacity: 0.7;
    position: relative;
    height: 100%;
}

.sec4 .card3 .top img {
    position: relative;
    width: 200px;
    top: 10px;
    left: 50px;
}
.sec4 .card3 .top .img2 img {
    position: relative;
    width: 283px;
    top: 128px;
    left: 10px;
}
.sec4 .card3 .top p {
    font-family: 'Lobster Two';
    position: absolute;
    top: 220px;
    font-weight: 700;
    font-style: italic;
    font-size: 48px;
    left: 25px;
    color: black;
}

/* Pour gagner du temps, j'ai réutiliser le css de la card3 afin de faire la card2 */

.sec4 .card2 {
    position: relative;
    height: 450px;
    width: 300px;
    background-color: gray;
    border-radius: 15px;
    margin: 20px;
    overflow: hidden;
}
.sec4 .card2 .top {
    background: linear-gradient(to top, violet, aquamarine, darkblue);
    opacity: 0.7;
    position: relative;
    height: 100%;
}

.sec4 .card2 .top img {
    position: relative;
    width: 232px;
    top: 24px;
    left: 33px;
}
.sec4 .card2 .top .img2 img {
    position: relative;
    width: 227px;
    top: 100px;
    left: 35px;
}
.sec4 .card2 .top p {
    font-family: 'Lobster Two';
    position: absolute;
    top: 220px;
    font-weight: 700;
    font-style: italic;
    font-size: 40px;
    left: 20px;
    color: black;
}





























.sec4 .container .card1:hover, .card2:hover, .card3:hover{
    transition: 0.2s;
    transform: scale(1.10);
    cursor: pointer;
  }