
.cocktails{
    display: grid;
    grid-template-columns: repeat(2,center);
    grid-gap: 10px;
    grid-template-rows: repeat(4,center);
    row-gap: 40px;
    flex-wrap: wrap;
    
}
body{
    background-color: #1d1e31;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titre{ 
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    text-align: center;
}

.mojito{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: center;
}
.pina{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: center;

}
.gin{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    text-align: center;
}
.sex{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: auto;
    grid-row-end: auto;
    text-align: center;
}
.tequila{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: auto;
    grid-row-end: auto;
    text-align: center;
}
.cocktails h1{
    font-size:40pt;
    color:brown;
}
.cocktails h3{
    font-size: 25pt;
    color:pink;
}
.mojito {
    border: 2px solid limegreen;
    border-radius: 20%;
    box-shadow: 0px 0px 5px lime;
}
.pina {
    border: 2px solid wheat;
    border-radius: 20%;
    box-shadow: 0px 0px 5px beige;
}
.gin {
    border: 2px solid skyblue;
    border-radius: 20%;
    box-shadow: 0px 0px 5px blue;
}
.sex {
    border: 2px solid orange;
    border-radius: 20%;
    box-shadow: 0px 0px 5px orangered;
}
.tequila {
    border: 2px solid yellow;
    border-radius: 20%;
    box-shadow: 0px 0px 5px red;
}