*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
  scroll-behavior: smooth;
}


p{
  font-weight: 300;
  color: #111;
}

/* La navbar */
header{
  position: fixed;
  top: 0%;
  left: 0%;
  padding: 15px 10px;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transition: 0.5s;
  background-color: #1d1e31;

}


.navbar{
  display: flex;
  position: relative;
}
.navbar li{
  list-style: none;
}
.navbar a{
  color: wheat;
  text-decoration: none;
  margin-left: 30px;
  font-weight: 700;
}


header .navbar li a:hover{
  color: #fb911f;
  border-bottom: 2px solid #fb911f;
}




section{
  padding: 100px;
  background-color: #1d1e31; 
}

.titre-texte{
  color: white;
  font-size: 2em;
  font-weight: 300px;
  text-transform: capitalize;
}

.titre-texte span{
  color: #fb911f;
  font-size: 1.5em;
  font-weight: 700px;
}
.titre span{
  color: #fb911f;
  font-size: 1.5em;
  font-weight: 700px;
}

.titre p{
  color: whitesmoke;
}

.titre{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.menu{
  margin-top: -50px;
}

.menu .contenu{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 40px;
}

.menu .contenu .box{
  width: 350px;
  margin: 20px;
  border: 20px solid #fff;
  box-shadow: 20px 15px 35px rgba(255, 254, 254, 0.6);
}

.menu .contenu .box .imbox{
  position: relative;
  width: 100%;
  height: 300px;
}

.menu .contenu .box .imbox img {
  position: relative;
  top: 0;
  left: 77px;
  width: 180px;
  height: 307px;
  object-fit: cover;
}

.menu .contenu .box .text{
  text-align: center;
  font-weight: 300px;
  color: whitesmoke;
}

.menu .contenu .box .text h3{
  font-weight: 400;
}

.menu .contenu .box .text h3 {
  color: #fb911f;
  text-decoration: underline double;
}


.rating {
  direction: rtl;
}
.rating a {
  color: #aaa;
  text-decoration: none;
  font-size: 3em;
  transition: color .4s;
}
.rating a:hover,
.rating a:focus,
.rating a:hover ~ a,
.rating a:focus ~ a {
  color: orange;
  cursor: pointer;
}




.menu .contenu .box .imbox .paix-dieu img {
  width: 150px;
  height: 321px;
  left: 80px;
  top: -10px;
}
.menu .contenu .box .imbox .karmeliet img {
    width: 150px;
    height: 376px;
    left: 80px;
    top: -40px;
}
.menu .contenu .box .imbox .Queue-de-Charrue img {
  width: 150px;
  height: 344px;
  left: 80px;
  top: -10px;
}
.menu .contenu .box .imbox .La-Cuvée-des-trolls img {
  width: 155px;
  height: 341px;
  left: 80px;
  top: -10px;
}
.menu .contenu .box .imbox .Desperados img {
    width: 70px;
    height: 275px;
    left: 123px;
    top: 10px;
}
.menu .contenu .box .imbox .kasteel img {
  width: 108px;
  height: 271px;
  left: 103px;
  top: 10px;
}








.btn1 {
  font-size: 1em;
  color: #fff;
  background: #fb911f;
  padding: 10px 20px;
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.5s;
  margin-left: 10px;
}
.btn1:hover{
  letter-spacing: 4px;
}










/* Responsive */

@media (max-width: 990px) {

header .navbar li{
  margin-left: 0px;
}

header .navbar li a {
  color: white;
  text-decoration: none;
  margin-left: 30px;
  font-weight: 700;
}

.navbar{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
section{
  padding: 60px;
}

header .navbar.active{
  width: 100%;
  height: calc(100% -68px);
  position: fixed;
  top: 68px;
  left:0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #ffff;
  align-items: center;
}

.menu{
  margin-top: 0px;
}
}



@media (max-width: 480px)
{
  .titre-text{
      color: white;
      font-size: 2rem;
      font-weight: 300;
      text-transform: capitalize;
  }
  .menu .contenu .box .imbox img {
    position: relative;
    top: 0;
    left: 37px;
    width: 134px;
    height: 298px;
    object-fit: cover;
}
}